PORT=5000
MONGODB_URI=mongodb+srv://petelpethotel_db_user:PASSWORD@cluster0.blidh3i.mongodb.net/petel_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=petel_super_secret_jwt_key_2024_komal
ADMIN_PASSWORD=komal123
ADMIN_EMAIL=petelpethotel@gmail.com
EMAILJS_SERVICE_ID=service_jylmpym
EMAILJS_PUBLIC_KEY=7Xigree0oJJUpQ51q
EMAILJS_PRIVATE_KEY=
NODE_ENV=production
FRONTEND_URL=https://dogpetel.vercel.app
